<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>资讯</string>
		<key>imageName</key>
		<string>new_icon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>天气</string>
		<key>imageName</key>
		<string>weather_icon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>收藏</string>
		<key>imageName</key>
		<string>collection_icon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>设置</string>
		<key>imageName</key>
		<string>set_icon</string>
	</dict>
</array>
</plist>
